body{
    background-color: wheat;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: blue;
    z-index: 1000;
    img{
        border-radius: 100%;
        border-style: solid;
        border-width: 50%;
        border-color: gold;
    }
}
.hButton{
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /*background-color: blue;*/
    background-color: orange;
    z-index: 1000;
    & p{
        color: gold;
        font-size: 20px;
        font-weight: bolder;
    }
}

.Login{
    display:flex;
    padding-top: 100px;
    justify-content: space-between;
    padding: 20px;
    p, input{
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}