img{
    border-radius: 100%;
    border-style: solid;
    border-width: 50%;
    border-color: gold;
}
.MeSh{
    background-color: rgb(255, 246, 194);
    padding-bottom: 100px;
}
.receipt{
    background-color: gold;
}

.Info{
    text-align: center;
}

.Coffee{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    & p {
        font-weight: bold;
        text-decoration: none;
        font-size: 20px;
        padding-left: 25px;
        color: #004aad;
    }
    & .product{
        background-color: rgb(255, 185, 64);
        border-radius: 5%;
    }
}

.MeShRe{
    background-color: rgb(255, 231, 94);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: auto;
    padding-bottom: 100px;
    .MeShRe form{
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
    }
    & p, input{
        display: block;
        justify-content: space-between;
        margin: 20px auto;
        width: 100%;
        max-width: 800px;
        background-color: white;
        border-style: solid;
        color: rgb(0, 0, 167);
        border-color: rgb(0, 0, 167);
        border-width: thick;
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
        font-weight: bold;
        box-sizing: border-box;
    }
    & h1{
        background-color: rgb(16, 16, 66);
        font-family: 'Courier New', Courier, monospace;
        color: gold;
        padding: 25px;
    }
    & input[type=submit]{
        color: gold;
        background-color: rgb(48, 48, 150);
        border-color: yellow;
        border-width: thick;
        font-family: 'Courier New', Courier, monospace;
    }
    & th{
        border-style: solid;
        background-color: rgb(13, 13, 49);
    }
    p{
        font-size: 25px;
        text-align: center;
    }
    p.Item{
        color: rgb(17, 0, 255);
    }
    p.Price, .Cost{
        background-color: white;
        color: blue;
        border-style: solid;
        border-width: 2px;
    }
    p.Quan{
        background-color: white;
        color: blue;
        border-style: solid;
        border-width: 2px;
        border-radius: 25%;
    }
    h1{
        color: gold;
    }
    h2.Total, h2.Name, h2.summary{
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        color: blue;
        border-style: solid;
        border-width: 2px;
        padding: 10px;
        width: 90%;
        max-width: 800px;
        margin-top: 20px;
    }
    .result{
        max-height: 70vh;
        overflow-y: auto;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
}