img{
    border-radius: 100%;
    border-style: solid;
    border-width: 50%;
    border-color: gold;
}
.MeSh{
    background-color: rgb(255, 246, 194);
    padding-bottom: 100px;
}
.receipt{
    background-color: gold;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    z-index: 1000;
    & a{
        font-size: 50px;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight:bolder;
        color: gold;
        text-decoration: none;
        background-color: rgb(0, 0, 104);
    }
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: blue;
    z-index: 1000;
    & a{
        position: absolute;
        right: 50px;
        bottom: 50px;
        font-size: 50px;
        font-weight:bolder;
        color: gold;
        text-decoration: none;
        background-color: rgb(0, 0, 104);
    }

}
p.contactfooter{
    color: gold;
    font-size: 20px;
    font-weight: bolder;
}


.Info{
    text-align: center;
}

.Coffee{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    & p {
        font-weight: bold;
        text-decoration: underline;
        font-size: 20px;
        padding-left: 25px;
        color: bisque;
    }
    & .product1, .product2, .product3, .product4, .product5, .product6{
        background-color: rgb(64, 64, 255);
        border-radius: 5%;
    }
}

.MeShRe{
    background-color: rgb(255, 231, 94);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    & p, input{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        width: 800px;
        background-color: white;
        border-style: solid;
        color: rgb(0, 0, 167);
        border-color: rgb(0, 0, 167);
        border-width: thick;
        font-family: 'Courier New', Courier, monospace;
        font-size: 25px;
        font-weight: bold;
    }
    & h1{
        background-color: rgb(16, 16, 66);
        font-family: 'Courier New', Courier, monospace;
        color: gold;
        padding: 25px;
    }
    & input[type=submit]{
        color: gold;
        background-color: rgb(48, 48, 150);
        border-color: yellow;
        border-width: thick;
        font-family: 'Courier New', Courier, monospace;
    }
}
.Receipt{
    table{
        width: 100%;
    }
    & th{
        border-style: solid;
        border-width: 5px;
        background-color: rgb(13, 13, 49);
    }
    p{
        font-size: 25px;
        text-align: center;
    }
    p.Item{
        color: rgb(17, 0, 255);
    }
    p.Price, .Cost{
        background-color: white;
        color: blue;
        border-style: solid;
        border-width: 2px;
    }
    p.Quan{
        background-color: white;
        color: blue;
        border-style: solid;
        border-width: 2px;
        border-radius: 25%;
    }
    h1{
        color: gold;
    }
    h2.Total{
        position: absolute;
        right: 0;
        margin-right: 50px;
        background-color: white;
        color: blue;
        border-style: solid;
        border-width: 2px;
        padding: 10px;
    }
    h2.Time{
        position: absolute;
        left: 0;
        margin-left: 50px;
        background-color: white;
        color: blue;
        border-style: solid;
        border-width: 2px;
        padding: 10px;
    }
    h2.Dist{
        position: absolute;
        top: 825px;
        left: 0;
        margin-left: 50px;
        background-color: white;
        color: blue;
        border-style: solid;
        border-width: 2px;
        padding: 10px;
    }
}