body{
    background-color: wheat;
}



.Login, .Reg{
    display:flex;
    padding-top: 100px;
    justify-content: space-between;
    padding: 20px;
    p, input{
        font-size: 25px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}